<div class='card'>
  <div class='card-header'>
   <h1><b>{{pageTitle}}</b></h1>
  </div>
<br><br>
  <div class="container-fluid">
  <div class='card-body'>   
    
    <div class="row">
    <div class="col-lg-3 col-6">
    <div class="small-box bg-info">
      <div class="inner">
        <!-- <h3>100</h3> -->

      <h4>New Enrollments</h4>
      </div>
      <div class="icon">
        <i class="ion ion-bag"></i>
      </div>
      <a routerLink="stdlist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
    </div>
    </div>
   

    
      <div class="col-lg-4 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <!-- <h3>100</h3> -->
  
          <h4>Approved Students List</h4>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a routerLink="/adminhome/students" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
      </div>
      

      
        <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <!-- <h3>100</h3> -->
    
            <h4>Registered Students</h4>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a routerLink="stdreg" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        </div>
        
      </div>

  </div>
  </div>
<br><br>
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="ion ion-clipboard mr-1"></i>
        To Do List
      </h3>
      <br><br>
      <ul>
        <li>Check the no. of student enrollments</li>
        <li>Determine eligible and ineligible students</li>
        <li>Approval and rejection of students can be done by admin only</li>
        <li>Admin can determine the eligible employers</li>
        <li>Let eligible student succeed</li>
      </ul>
      </div>
      </div>


</div>